body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
}

.mainPage {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.header {
    width: 100%;
    top: 0;
    height: 40px;
    position: absolute;
    background-color: green;
}

.body {
    width: 100%;
    top: 40px;
    bottom: 40px;
    position: absolute;
    background-color: yellow;
}

.footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: red;
}
