body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 0;
}

.gwt-Anchor {
    color: blue;
    cursor: pointer;
}

.gwt-Button {
    cursor: pointer;
}

.hovered {
}

.gwt-Anchor.hovered {
    text-decoration: underline;
}