.body {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}

.newAccountPanel {
    width: 200px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -125px;
    position: absolute;
    background-color: orange;
}